<p style="color: green"><%= notice %></p>

<%= render @post %>
<div class="pb-2">
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary btn-sm" %> |
  <%= link_to "Back to posts", posts_path, class: "btn btn-primary btn-sm" %>
</div>
<div class="pb-5">
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger btn-sm" %>
</div>
<br/>
<div>

<!--  all coment here -->
<!--  <h2>-->
<!--    Comment here-->
<!--  </h2>-->
<!--  <h4>-->
    <%#= current_user.email %>
<!--  </h4>-->
  <%#= render @post.comments %>
<!--  <p>-->
    <%#= @post.comments.last.created_at.strftime("%B %d %Y, %l:%M%P") %>
<!--  </p>-->
  <%#= render 'comments/comment', comment: @comment %>
  <%#= render 'comments/form', comment: @comment %>
<!--</div>-->

  <div class="card">
    <h5 class="card-header"><%= current_user.email %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= @post.comments.last.created_at.strftime("%B %d %Y, %l:%M%P") %></h5>
      <p class="card-text"><%= render @post.comments %></p>
      <%= render 'comments/comment', comment: @comment %>
      <%= render 'comments/form', comment: @comment %>
    </div>
  </div>
</div>